*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body {
    margin: 0;
    background: rgba(255, 166, 0, 0.486);
    display: flex;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    margin: 0;
    padding: 0;
}

.container {
    background-color: #0000002f;
    width: 400px;
    padding: 50px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    box-shadow: 15px 30px 35px rgba(0, 0, 0, 0.397);
    border-radius: 10px;
    perspective: 300px;
    text-align: center;
    background-image: url(./Assets/palmtree.svg);
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-blend-mode: screen;
    background-size: 170%;
    z-index: 2;
}

#status {
    font-size: 2em;
    height: 1.5em;
    z-index: 500;
}

#word_area {
    height: 1em;
    letter-spacing: 0.5em;
    margin-bottom: 2em;
    font-size: 2em;
    z-index: 500;
}

.keyboard_row {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    margin-bottom: 1em;
    z-index: 500;
}

.kybrdbtn {
    width: 2em;
    height: 2em;
    font-family: inherit;
    z-index: 500;
}

button:hover {
    cursor: pointer;
}